* {
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    height: 100%;
    z-index: -99;
}
.parent {
    position: relative;
    width:99vw;
    height: 97vh;

    overflow: hidden;
    
}
#modalW {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(19, 19, 19, 0.7);
    z-index: 1;
    justify-content: center;
    /* overflow-y: hidden; */
    align-items: center;
}

p {
    color: white;
    font-size: 30px;
    z-index: 99;
}
#modalDiv {
    background-color: white;
    width: 400px;
    height: 300px;
    padding: 20px;
    z-index: 99;
}